.main-menu-item {
    font-family: 'Merienda', cursive;
    border: 0;
    background-color: transparent;
    font-size: 12px;
    line-height: 17px;
    margin: 0 40px 0 0;
    padding: 0;

}
.main-menu-item-white {
    color: #FFFFFF;
}

.main-menu-item-black {
    color: black;
    
} 

